#main{width:590px; float:right;}
#main.fullwidth{margin:0 auto; float:none;}
#sidebar{width:300px; float:left;}
#sidebar .secondary { width:140px; } 
#sidebar .tertiary { width:140px; margin-right:0; } 
