
<!-- Header Starts -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

<title>{{ page.title }} | {{ site.title }}</title>

<meta http-equiv="Content-Type" content="{{ site.author }}" name="author" charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="" />
<link href="{{ site.url }}/rss.xml" rel="alternate" title="" type="application/rss+xml" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/css/effects.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/styles/default.css" />
{% include google_analytics.html %}    
</head>

<body class="home blog logged-in gecko two-col-left width-940 two-col-left-940">

<div id="wrapper">
    
	<div id="header" class="col-full">
       
		<div id="logo">
	       <a href="{{ site.url }}" ><img src="/images/rubygeekslogo.png" /></a>
            <!-- <a href="{{ site.url }}" rel="home bookmark">{{ site.title }}</a> -->
     
            <span class="site-description">Meeting Point For Ruby Geeks</span>
	      	
		</div><!-- /#logo -->
	           
       
	</div><!-- /#header -->
    

	<div id="navigation" class="col-full">
		
        <ul id="main-nav" class="nav fl sf-js-enabled">
		
	            <li class="page_item current_page_item"><a href="{{ site.url }}">Home</a></li>
	        <li class="page_item page-item-2"><a href="/about.html">About</a></li>
        	<li class="page_item page-item-2"><a href="/projects.html">Projects</a></li>    
        </ul><!-- /#nav -->
       
        <ul class="rss fr">
          
            <li class="sub-rss"><a href="/rss.xml">Subscribe to RSS</a></li>
        </ul>
		
        
	</div><!-- /#navigation -->


<!-- Header get over -->

    <div id="content" class="col-full">
       
    	<div id="main-sidebar-container">

  
            <div id="main">      
              {{ content }}
  
                
            </div><!-- /#main -->
<!-- Sidebar starts -->

<div id="sidebar">
  
<div class="sidebarbox widget widget_pages" > 
          <h3>About</h3> 
          <p>A new initiative from RailsFactory for building a community of open source contributors for ruby</p> 
        </div> 
        <div class="sidebarbox widget widget_pages"> 
          <h3>Pages</h3> 
          <ul id="pages"> 
            <li class="page_item"> 
              <a rel="bookmark" title="About" href="/about.html">About</a> 
            </li> 
            <li class="page_item"> 
              <a rel="bookmark" title="Links" href="/links.html">Links</a> 
            </li>
            <li class="page_item"> 
              <a rel="bookmark" title="All archived posts at RubyGeeks" href="/archive.html" id="archives">Archives</a> 
            </li>
          </ul>
        </div>
        <div class="sidebarbox widget widget_pages"> 
          <h3>Subscribe</h3> 
          <ul id="more-content"> 
            <li class="page_item"> 
              <a title="The RSS feed for new posts at RubyGeeks" href="/rss.xml" class="icon-link" id="feed-link">RSS</a> 
            </li> 
          </ul> 
        </div> 
        <div class="sidebarbox widget widget_pages"> 
          <h3 id="more-content-header">Sidebar</h3> 
          <ul id="more-content"> 
            <li class="page_item"> 
              <a rel="bookmark" title="RailsFactory on Facebook" href="http://facebook.com/RailsFactory" class="icon-link" id="facebook-link">RailsFactory on Facebook</a> 
            </li> 
            
          </ul> 
        </div> 
        <div class="sidebarbox widget widget_pages"> 
          <h3>Contact Us</h3> 
          <ul id="more-content"> 
            <li class="page_item"> 
              <a rel="bookmark" title="Send us a mail" href="mailto:admin@rubygeeks.com" class="icon-link" id="email-link">admin@rubygeeks.com</a> 
            </li> 
          </ul> 
        </div> 

</div><!-- /#sidebar -->            

		</div><!-- /#main-sidebar-container -->  

    </div><!-- /#content -->
    
		
<!-- Footer starts here -->

	<div id="footer-widgets" class="col-full">

	
		<div class="block footer-widget-1">
        	
		</div>
		        
	        	        
		<div class="fix"></div>

	</div><!-- /#footer-widgets  -->
   

	<div id="footer" class="col-full">
     
		<div id="copyright" class="col-left">
		
			<p>All content copyright &copy; {{ 'now' | date: "%Y" }} Rubygeek, unless otherwise specified. </p>
 
		</div>
		
		<div id="credit" class="col-right">
			
			<p>Powered by <a href="http://github.com/mojombo/jekyll" title="The Jekyll (static site generator) code repository" rel="external">Jekyll</a>.</p>
           
		</div>
		
	</div><!-- /#footer  -->

	
</div><!-- /#wrapper -->

</body>
</html>
