---
layout: default
---
<article class="post">

  <h2><a href="{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h2>

  {{ content }}

  <div class="meta">
    {{ page.date | date: "%Y-%m-%d %I:%M%p" }}
    {% if page.tags.size > 0 %}
      &mdash;
      {% for tag in page.tags %}
        <a href="http://google.com/#q=site:{{ site.url | remove:'http://' }}+{{ tag | downcase | replace:' ','+' }}" rel="tag category" title="Search this site for other posts on {{ tag | downcase | escape }} (using Google)">#{{tag | downcase}}</a>
      {% endfor %}
    {% endif %}
  </div>

</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_url = '{{ site.url }}{{ page.url }}';
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://rubygeeks.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=rubygeeks">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
