---
layout: default
---
<!-- Header Starts -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">

    <title>{{ page.title }} | {{ site.title }}</title>

    <meta http-equiv="Content-Type" content="{{ site.author }}" name="author" charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="" />
    <link href="{{ site.url }}/rss" rel="alternate" title="" type="application/rss+xml" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../../../style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../../custom.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../stylesheets/css/effects.css" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles/default.css" />
    {% include google_analytics.html %}    
  </head>

  <body class="home blog logged-in gecko two-col-left width-940 two-col-left-940">

    <div id="wrapper">
      
      
      
      <!-- #content Starts -->

      <div id="content" class="col-full">
	
    	<div id="main-sidebar-container">    

          <!-- #main Starts -->
          
          <div id="main">      
            
            <!-- Post Starts -->
            
            <div class="post-7 post type-post hentry category-uncategorized">
	      
              <h1 class="title">{{ page.title }}</h1>
              
              <div class="entry">
                {{ content }}
              </div><!-- /.entry -->
                        
	      
            </div><!-- /.post -->
            
          </div><!-- /#main -->
          <div id="sidebar">
	  </div> <!-- sidebar -->
	  
	</div><!-- /#main-sidebar-container -->         
	
      </div><!-- /#content -->

    </div><!-- /#wrapper -->

  </body>
</html>
